/* .detailContainer {
    display: flex;
    
    
    border: 5px solid #ccc; 
    
    align-content: center;
}

.imgContainer {
    max-width: 50%; 
    height: auto; 
}

.infoContainer {
    
    display: flex;
    flex-direction: column;
} */