.container {
    display: grid;
    max-height: fit-content;
    
}

.filtersContainer{
    display: flex;
    margin-right:10px;
    justify-content: space-between;
    max-width: 100%;
    padding-right: 10px;
    padding-top: 10px;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajusta el margen superior según tu diseño */
  }