/* .cardsContainer {
    background-color: red;
    display: flex;
    width: 100%;
    margin: 0 auto; 
    
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
} */
/* 
.cardsContainer {
    
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
    justify-content: center;
    align-items: center;
  } */


  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 100%; /* Para asegurarte de que no se desborde el contenedor padre */
    margin: 0 auto; /* Para centrar el contenedor */
    /* Agrega las siguientes líneas para limitar a 4 columnas */
    max-width: 100%; /* Asegúrate de que el ancho máximo sea del 100% del contenedor padre */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px; /* Espacio entre las tarjetas */
    max-width: 960px; /* Ancho máximo para que haya un máximo de 4 columnas */
    padding-top: 20px;
  }
  